@model (TopLearn.DataLayer.Entities.User.User,string)

<div style="direction: rtl; padding: 20px">
    <h2>@Model.Item1.UserName عزیز !</h2>
    <p>با تشکر از ثبت نام شما در تاپ لرن ، جهت ادامه کار میبایست حساب کاربری خود را فعال کنید</p>
    <p>
        <a href="@Model.Item2/Account/ActiveAccount/@Model.Item1.ActiveCode">فعالسازی حساب کاربری</a>
    </p>
    </div>
