@model (TopLearn.DataLayer.Entities.User.User,string)

<div style="direction: rtl; padding: 20px">
    <h2>@Model.Item1.UserName عزیز !</h2>
    <p>
       جهت بازیابی حساب کاربری خود روی لینک زیر کلیک کنید
    </p>
    <p>
        <a href="@(Model.Item2)/Account/ResetPassword/@Model.Item1.ActiveCode">بازیابی کلمه عبور</a>
    </p>
</div>
