@page
@model TopLearn.Web.Pages.Admin.Users.CreateUserModel
@{
    ViewData["Title"] = "افزودن کاربر";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">تاپ لرن</a></li>
            <li class="breadcrumb-item"><a href="/UserPanel">پنل کاربری</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a asp-action="ChangePassword"> تغییر کلمه عبور </a></li>
        </ul>
    </nav>
</div>