@model TopLearn.Core.DTOs.ChangePasswordViewModel
@{
    ViewData["Title"] = "تغییر کلمه عبور";
}


<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">تاپ لرن</a></li>
            <li class="breadcrumb-item"><a href="/UserPanel">پنل کاربری</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a asp-action="ChangePassword"> تغییر کلمه عبور </a></li>
        </ul>
    </nav>
</div>


<main>
    <div class="container">
        <div class="user-account">
            <div class="row">
                <partial name="_SideBar" />
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header><h1 style="font-size: 25px"> تغییر کلمه عبور </h1></header>



                        <noscript>
                            <div class="alert alert-danger">
                                Your browser does not support JavaScript!
                            </div>
                        </noscript>


                        <div class="inner form-layer">
                            @if (ViewBag.Done == true)
                            {
                                <div class="alert alert-success">
                                    <h2 style="font-size: 25px">@ViewBag.UserName عزیز</h2>
                                    <br />
                                    <div class="text-center">
                                        <p style="font-size: 25px;"> کلمه عبور شما با موفقیت ویرایش شد !</p>
                                        <p style="font-size: 20px;"> لطفا مجددا وارد حساب خود شوید !</p>
                                    </div>
                                    <div class="link">
                                        <a href="/login" style="font-size: 18px"> <i class="zmdi zmdi-account"></i> ورود به سایت </a>
                                    </div>

                                </div>
                            }
                            else
                            {
                                <form asp-action="ChangePassword" method="post">
                                    
                                    <div class="row">

                                        <div class="col-md-7 col-sm-8 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="username"><i class="zmdi zmdi-key"></i></span>
                                                <input asp-for="CurrentPassword" style="font-size: 18px" type="password" class="form-control" placeholder="کلمه عبور فعلی" aria-describedby="username">
                                            </div>
                                            <span asp-validation-for="CurrentPassword"></span>
                                        </div>

                                        <div class="col-md-7 col-sm-8 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="username"><i class="zmdi zmdi-key"></i></span>
                                                <input asp-for="NewPassword" style="font-size: 18px" type="password" class="form-control" placeholder="کلمه عبور جدید" aria-describedby="username">
                                            </div>
                                            <span asp-validation-for="NewPassword"></span>
                                        </div>

                                        <div class="col-md-7 col-sm-8 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="username"><i class="zmdi zmdi-key"></i></span>
                                                <input asp-for="ReNewPassword" style="font-size: 18px" type="password" class="form-control" placeholder="تکرار کلمه عبور جدید" aria-describedby="username">
                                            </div>
                                            <span asp-validation-for="ReNewPassword"></span>
                                        </div>

                                        <div class="col-md-7 col-sm-8 col-xs-12">
                                            <div class="link">
                                                <br/>
                                                <br/>
                                                <a style="font-size: 18px" href="/EditProfile"> <i class="zmdi zmdi-account"></i> ویرایش حساب کاربری </a>
                                                <a style="font-size: 18px" href="/ForgotPassword"> <i class="zmdi zmdi-lock"></i> کلمه عبور خود را فراموش کرده ام !</a>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-sm-8 col-xs-12">
                                            <button style="font-size: 20px" class="btn btn-success"> ویرایش اطلاعات </button>
                                        </div>
                                    </div>
                                </form>
                            }
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>