@model TopLearn.DataLayer.Entities.User.User

@{
    ViewData["Title"] = "فعال سازی حساب کاربری";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a asp-action="ActiveAccount">فعال سازی حساب کاربری</a></li>
        </ul>
    </nav>
</div>


<main class="client-page">
    <div class="container-content" style="width: 40vw">

        @if (Model != null)
        {
            <script>
                var Delay = 5000;
                setTimeout(()=>{
                window.location = "/";
                },Delay);
            </script>
            <div class="alert alert-success" style="width: 100%">

                <h2 style="font-size: 25px">@Model.UserName عزیز</h2>
                <div class="text-center">
                    <p style="font-size: 35px;">حساب کاربری شما با موفقیت فعال شد !</p>
                    <h3 style="font-size: 25px">ورود شما با موفقیت انجام شد و شما پس از لحظاتی به صفحه اصلی منتقل خواهید شد</h3>
                    <br />
                </div>


            </div>
        }
        else
        {
            <div class="alert alert-danger" style="width: 100%">


                <div class="text-center">
                    <p style="font-size: 25px;">حساب کاربری یافت نشد !</p>
                    <h3 style="font-size: 20px">لینک شما نامعتبر می باشد</h3>
                </div>


            </div>
        }


    </div>
</main>