@model TopLearn.Core.DTOs.ForgotPasswordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a asp-action="ForgotPassword">بازیابی کلمه عبور</a></li>
        </ul>
    </nav>
</div>

<main class="client-page">
    <div class="container-content">

        <header><h2> بازیابی کلمه عبور </h2></header>

        <div class="form-layer">

            <form asp-action="ForgotPassword" method="post">

                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    <input asp-for="Email" type="email" class="form-control" placeholder="ایمیل" aria-describedby="email-address">
                </div>

                <span asp-validation-for="Email"></span>
                <br/>
                <a href="/Login"> <i class="zmdi zmdi-account"></i> ورود به سایت </a>

                <br/>
                <button class="btn btn-success"> بازیابی کلمه عبور </button>

            </form>
        </div>

    </div>
</main>