@model string
@{
    ViewData["Title"] = "ورود به سایت";
}
<script>
    var Delay = 5000;
    setTimeout(()=>{
    window.location = "/";
    },Delay);
</script>
<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a asp-action="Login">ورود به سایت</a></li>
        </ul>
    </nav>
</div>

<main class="client-page">
    <div class="container-content" style="width: 40vw">


        <div class="alert alert-success" style="width: 100%">

            <h2 style="font-size: 25px">@Model عزیز</h2>
            <div class="text-center">
                <p style="font-size: 35px;">ورود شما با موفقیت انجام شد!</p>
                <br />
                <h3 style="font-size: 25px">شما پس از لحظاتی به صفحه اصلی منتقل خواهید شد</h3>
                <br />
            </div>

        </div>

    </div>
</main>