@model TopLearn.Core.DTOs.User.ResetPasswordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}
<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a asp-action="ResetPassword">بازیابی کلمه عبور</a></li>
        </ul>
    </nav>
</div>

<main class="client-page">
    <div class="container-content">

        <header><h2> بازیابی کلمه عبور </h2></header>
        
        @if(ViewBag.Done==true)
        {
            <div class="alert alert-success">
                <h2 style="font-size: 25px">@ViewBag.UserName عزیز</h2>
                <br/>
                <div class="text-center">
                    <p style="font-size: 25px">کلمه عبور شما با موفقیت تغیر کرد</p>
                </div>
            </div>
            
            <div class="link">
                <a href="/login" style="font-size: 18px"> <i class="zmdi zmdi-account"></i> ورود به سایت </a>
            </div>
        }
        else
        {
            <div class="form-layer">

                <form asp-action="ResetPassword" method="post">
                
                    <input type="hidden" asp-for="ActiveCode"/>

                    <div class="input-group">
                        <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                        <input asp-for="Password" type="password" class="form-control" placeholder="رمز عبور " aria-describedby="password">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                        <input asp-for="RePassword" type="password" class="form-control" placeholder="تکرار رمز عبور" aria-describedby="password">
                    </div>
                    <br/>
                    <div asp-validation-summary="All" class="text-danger">
                    </div>
                    <br/>
                    <button class="btn btn-success"> ثبت تغیرات </button>

                </form>
            </div>   
        }

    </div>
</main>